<!DOCTYPE html>
<html>
<head>
    <title>Albums</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <h2>@ViewBag.Band.Name</h2>
    <img src="~/img/@ViewBag.Band.ImgUrl"/>
</body>
</html>