@using GroupAssignment_L2_2.Models;
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>

    <div class="container">
        <h1>Index</h1>
        @foreach (Customer customer in ViewBag.Customers)
        {
            <h2>@customer.Id - @customer.CompanyName</h2>
            <a href="/customers/details/@customer.Id">- Learn more -</a><br />
            <form action="/customers/remove/@customer.Id" method="post">
                <input type="submit" value="Remove!"/>
            </form>
        }
        <br /><br /><a style="color: aquamarine;" href="/customers/create/">Create new Customer</a>
    </div>

</body>
</html>